body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}

.navbar{
    padding:15px;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(https://plus.unsplash.com/premium_photo-1677567996070-68fa4181775a?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D);

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.hero h1{
    color:#fff;
    font-size:60px;
    font-weight:bold;
}

.hero p{
    color:#fff;
    font-size:28px;
}

.hero .btn{
    margin-top:20px;
}